* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$maxMbWidth: 480px;
@mixin mobile {
  @media (min-width:0) and (max-width:#{$maxMbWidth}) {
    @content;
  }
}
ul {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.app {
  width: 100%;
}
.wrap__header,
.wrap__footer {
  width: 100%;
  background-color: blue;
  .content {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;

    line-height: 80px;
    background-color: blue;
    color: white;
    font-size: 2rem;
  }
}
.wrap__footer {
  margin-top: 50px;
}
.wrap__main {
  width: 100%;
  .content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    padding: 0 15px;
    .product {
      width: 100%;
      margin-top: 50px;

      display: grid;
      grid-template-columns: 300px 1fr 1fr;
      grid-gap: 30px;
      @include mobile {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 30px;
      }
      .product__image {
        .image {
          padding: 15px;
          border: 1px solid #aaa;
        }
      }
      .product__info {
        .title {
          font-size: 1.25rem;
        }
        .branch,
        .rest {
          margin-top: 15px;
          font-size: 1.1rem;
          span {
            color: #666;
          }
        }
        .price {
          margin-top: 15px;
          font-weight: bold;
          font-size: 1.1rem;
        }
        .old-price {
          margin-top: 15px;
          font-size: 1rem;
          margin-bottom: 30px;
          .line-through {
            color: #666;
            text-decoration: line-through;
          }
          .discount {
            margin-left: 20px;
            padding: 1px 4px;
            border: 0.4px solid red;
            border-radius: 7px;
          }
        }
        .color {
          margin-top: 10px;
          span {
            font-weight: bold;
          }
        }
      }
      .product__describle {
        grid-column: 1 / span 2;
        @include mobile {
          grid-column: 1;
        }
        .list-describle {
          padding-left: 15px;
          list-style-type: disc;
        }
      }
    }
  }
}
.introduction {
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.7px;
}
.cart {
  width: 110px;
  height: 50px;
  margin-top: 25px;

  border: 1px solid #aaa;
  line-height: 50px;
  text-align: center;
}
.add-cart {
  margin-top: 15px;
  margin-right: 15px;
  padding: 5px 7px;
  border: none;
  outline: none;

  background-color: rgb(165, 165, 78);
  font-family: inherit;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: white;

  cursor: pointer;
}

.choose-image {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;

  .choose-item {
    width: 50px;
    margin-right: 15px;
    border: 1px solid #aaa;
    transition: all 0.3s linear;
    cursor: pointer;
    &.active {
      border-color: red;
    }
    &:hover {
      border-color: red;
    }
  }
}
.notify {
}
